<div class="inner-cover">
    <div class="cover-heading">
        <p id="bigtitle" style="font-size: 300px ; font-family: 'Open Sans Condensed', sans-serif; color: #b3b3b3">
            T R E X T
        </p>
        <br>
        <div id="littleone" style="bottom: 100px;
    margin-bottom: 60px;
    left: 500px;
    right: auto;
    position: absolute;
    font-style: italic;
    color: #d0d0d0;">
        <p style="font-size: 30px; font-weight:600;"> W  H  A  T  ' S  N  E  X  T  ? </p>
        </div>
    </div>

</div>