<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content >
<div ng-controller="EditorController" ng-cloak>
    <md-content class="md-padding" style="overflow: initial" layout="column">
        <h2 class="md-title">Locations</h2>
        <md-chips
                ng-model="locations"
                class="custom-chips"
                readonly="readonly"
                placeholder="+Location"
                secondary-placeholder="Durham,NC"
                md-require-match="locationsCheck"
                delete-button-label="Remove location"
                delete-hint="Press delete to remove tag">
                <md-chip-template>
                    <span>
                        <strong> [{{$index}}] {{$chip}}</strong>
                    </span>
                </md-chip-template>
        </md-chips>
        <br/>

        <h2 class="md-title">Activities</h2>
        <md-chips ng-model="activities" md-autocomplete-snap
                  md-require-match="autocompleteDemoRequireMatch"
                  placeholder="Biking, Nightlife, Spa"
                  secondary-placeholder="+Activity">
            <md-autocomplete
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.title"
                    placeholder="Biking, Nightlife, Spa">
                <span md-highlight-text="searchText">{{item.title}}</span>
            </md-autocomplete>
            <md-chip-template>
                    <span>
                        <strong> [{{$index}}] {{$chip.title}} : <i>{{$chip._parent}}</i></strong>
                    </span>
            </md-chip-template>
        </md-chips>

        <h2 class="md-title">Destinations</h2>
        <md-chips
                ng-model="destinations"
                class="custom-chips"
                readonly="readonly"
                placeholder="+Destination"
                secondary-placeholder="Durham Bulls Park"
                delete-button-label="Remove Destination"
                delete-hint="Press delete to remove tag">
            <md-chip-template>
                    <span>
                        <strong> [{{$index}}] {{$chip}}</strong>
                    </span>
            </md-chip-template>
        </md-chips>
        <br/>



        <h2 class="md-title">Budget</h2>
        <md-list layout-align="center center">
            <md-list-item md-no-ink
                            class="md-2-line veggie-option" ng-repeat="price in prices"
                          layout="row"
                          layout-align="space-around center"
                          layout-wrap>
                <div class="md-item-text md-whiteframe-z1" flex>

                <md-checkbox md-no-ink aria-label="price.price" ng-model="price.selected" ng-click="updateCheck(price)">
                    <h3>{{price.price}}</h3>
                </md-checkbox>
                    </div>
            </md-list-item>
        </md-list>

        <h3>Trip Load</h3>
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">1 (Light) - 5 (Hardcore)</span>
            </div>
            <md-slider flex md-discrete ng-model="maxdest" step="1" min="1" max="5" aria-label="maxdest">
            </md-slider>
        </div>

        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-warn md-raised md-hue-2" style="margin-left: 10px; width: 125px" ng-click="submit()">
                <md-icon md-svg-icon="../static/img/ic_check_circle_white_24px.svg"></md-icon> Submit </md-button>
            <md-button class="md-warn md-raised md-hue-2" style="margin-left: 10px;" ng-click="randomize()">
                <md-icon md-svg-icon="../static/img/ic_grade_white_24px.svg"></md-icon> Randomize </md-button>
            <md-button class="md-warn md-raised md-hue-2" style="margin-left: 10px;" ng-click="reload()">
                <md-icon md-svg-icon="../static/img/ic_highlight_off_white_24px.svg"></md-icon>Start Over</md-button>
        </section>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="{{loading}}" md-diameter="96"></md-progress-circular>
        </div>
    </md-content>
</div>
</md-card-content>
</md-card>